@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

::-webkit-scrollbar {
    display: flex;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e7e7e7;
  }

*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-position-x: left;
}

nav{
    height: 20px;
}

#container-side-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vh;
    margin-top: 2.5%;
    gap: 45%;
}

#menu {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: -460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    gap: 20px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
    opacity: 80%;
}

#open-menu{
    background: none;
    border: none;
    cursor: pointer;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  #close-menu {
    position: absolute;
      display: flex;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-weight: bold;
      border: none;
      border-radius: 50%;
      background-color: #ffffff;
      padding: 2px;
  }
  
  #close-menu:hover{
      background-color: #000000;
  }
  
  #close{
      color: #000000;
  }
  
  #close:hover{
      color: #ffffff;
  }
#menu .link-menu {
    color: #000000;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 60px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#menu .link-menu:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

#menu-universe {
    position: absolute;
    background-color: #2012b668;
    top: 0;
    left: -460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    gap: 10px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
}


#menu-universe #close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: #ffffff;
}

#menu-universe #close-menu:hover {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: #000000;
    border: 2px solid #000000;
}

#menu-universe .link-menu {
    color: #fffdfdb7;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 60px;
    padding: 20px 10px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#menu-universe .link-menu:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

#side-bar-second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:35%;
}

#side-bar-second a:hover:nth-child(-n+2){
    text-decoration: underline;
    text-decoration-color: #fff;
}

#side-bar-second #search{
    flex-direction: row;
    display: flex;
    width: 30%;
    height: 22px;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 10px;
    border: 2px solid #FFFCFC;
    border-radius: 20px;
}

.material-symbols-outlined.tm32{
    font-size: 45px;
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #FFFCFC;
  }

#side-bar-second a{
    text-decoration: none;
    color: #FFFCFC;
    font-size: 1.2rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 60vh;
    text-align: center;
    color: #FFFCFC;
}

#container-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 25vh;
    justify-content: space-between;
    text-align: center;
}

#image-logo{
    position: relative;
    background-image: url(../images/logo_simbolo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 15vh;
    padding-bottom: 2%;
}

p{
    font-size: 1.4rem;
}

.lexend-zetta-p {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.lexend-zetta-a {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

.saira-h1 {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .saira-h2 {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .saira-p {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

.saira-a {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .poppins-light-a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  footer{
    display: none;
    width: 100%;
    height: 5vh;
  }

  footer p{
    color: #ffffff;
    text-align: center;
  }

  @media only screen and (min-width:100px) and (max-width: 450px) {
    
      #container-side-bar{
          justify-content: space-between;
          width: 90%;
        }

        #side-bar-second #search{
            flex-direction: row;
            display: flex;
            width: 30%;
            height: 38px;
            justify-content: center;
            align-items: center;
            padding: 2px 10px;
            border: 2px solid #FFFCFC;
            border-radius: 20px;
        }
        
        .material-symbols-outlined.tm32{
            font-size: 45px;
        }

    #menu-universe{
        height: 100vh;
        padding-top: 0;
    }

    #menu, #menu-universe{
        width: 100%;
        border-radius: 0px;
        }
        
        #side-bar-second{
            justify-content: flex-end;
        }

        #sobreNos, #noticias{
            display: none;
        }

    section{
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 60%;
    }
    
    #container-text{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20vh;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        backdrop-filter: blur(65px);
    }

    #image-logo{
        padding-bottom: 2%;
    }

    h1{
        font-size: 1.8rem;
        color: #ffffff;
    }

    h2{
        font-size: 1.1rem;
        color: #ffffff;
    }

    .saira-h1 {
        font-family: "Saira", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }

      .saira-h2 {
        font-family: "Saira", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }
    
      .saira-p {
        font-family: "Saira", sans-serif;
        font-optical-sizing: auto;
        font-weight: 100;
        font-style: normal;
        font-variation-settings: "wdth" 100;
      }

      #container-text p{
        font-size: 0.7rem;
        font-weight: 200;
        text-shadow: #120c50 1px 2px 4px;
    }

    #image-logo{
        height: 10vh;
    }

    footer{
        display: flex;
        width: 100%;
    }

    footer p{
        display: flex;
        width: 100%;
        font-size: 0.9rem;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 500px) and (max-width: 980px) {

    #menu {
        position: absolute;
        top: 0;
        left: -460px;
        height: 96.2%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
        padding-top: 15px;
        gap: 10px;
        border-radius: 0 15px 15px 0;
    }

    #menu-universe{
        position: absolute;
        top: 0;
        left: -460px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        padding-top: 0;
        gap: 5px;
        border-radius: 0 15px 15px 0;
    }

    #menu .link-menu{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 80%;
        height: 30px;
        padding: 5px 5px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.9rem;
        text-align: center;
    }

    #menu-universe .link-menu{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 80%;
        height: 30px;
        padding: 5px 5px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.9rem;
        text-align: center;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }

    #side-bar-second{
        width: 55%;
    }

    #container-side-bar{
        gap: 0px;
    }

    section{
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
}