@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    color: #fff;
}
#background-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(/images/pagina-inicial-rodape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    
}

section{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    width: 100vw;
    margin-top: 10px;
    box-sizing: border-box;
    
}
#container-texto {
    position: relative;
    max-width: 100%;
    text-align: center;
    font-family: "Lexend Zetta", sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding-top: 70px;
}

.container-influencer{
    text-align: right;
    width: 55vh;
    height: auto;
    margin: auto;
    background-color: #a9a9a970;
    border-radius: 36px;
}
.container-influencer div{
    padding: 1000px;
}

.container-influencer img{
    max-width: 100%;
    height: auto;
    border-radius: 36px 36px 0px 0px;
}
.container-influencer h1{
    font-family: "Saira", sans-serif;
    width: 95%;
    font-size: 2vw;
    margin-top: 5px;
}
.button{
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    color: #fff;
    border: 2px solid white;
    padding: 2px 5px 2px 28px;
    border-radius: 14px;
    text-decoration: none;
    font-size: 1.3vw;
}

.button:hover{
    box-shadow: 0 0 15px #868686, inset 0 0 15px #868686;
    text-shadow: 0 0 15px ease-in-out;
  }