@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

::-webkit-scrollbar {
    display: flex;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e7e7e7;
  }

.lexend-zetta-a {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }


*{
    margin: 0%;
    border: 0%;
    padding: 0%;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

#container-side-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 15vh;
    margin-left: 5%;
    gap: 45%;
}

#menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: -460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    gap: 20px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
}

#open-menu{
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  #close-menu {
      display: flex;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-weight: bold;
      border: none;
      border-radius: 50%;
      background-color: #ffffff;
      padding: 2px;
  }
  
  #close-menu:hover{
      background-color: #000000;
  }
  
  #close{
      color: #000000;
  }
  
  #close:hover{
      color: #ffffff;
  }
#menu .link-menu {
    color: #000000;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 60px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#menu .link-menu:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

#menu-universe {
    background-color: #2012b668;
    position: fixed;
    top: 0;
    left: -460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    padding-top: 10px;
    gap: 10px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
}


#menu-universe #close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: #ffffff;
}

#menu-universe #close-menu:hover {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: #000000;
    border: 2px solid #000000;
}

#menu-universe .link-menu {
    color: #fffdfde2;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 60px;
    padding: 20px 10px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#menu-universe .link-menu:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.material-symbols-outlined.tm32{
    font-size: 45px;
}

.material-symbols-outlined.openMenu {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #ffffff;
  }

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #FFFCFC;
  }

#fundo{
    background-image: url(/images/pagina-inicial-lua.jpg);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}



body{
    color: white;
}

h1{
    line-height: 1.2;
}

p{
    line-height: 1.5;
}

#botao{
    padding-left: 12%;
    padding-top: 32%;
    position: fixed;
}

#botao button{
    padding: 10px;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 25px;
    border: 3px solid white;
    color: white;
    font-family: Saira;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s;
    width: 150%;
}

#botao button:hover{
    box-shadow: 0 0 15px #ffffff, 
    inset 0 0 15px #ffffff;
    text-shadow: 0 0 15px ease-in-out;
}

.saira{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-variation-settings:
      "wdth" 100;
  }

  #texto_1{
    padding-top: 14%;
    width: 35%;
    position: relative;
    padding-left: 12%;
    font-size: 23px;
    cursor:context-menu;
    position: fixed;
  }


  .saira-second{
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }



@media (min-width: 100px) and (max-width: 480px) {   
#fundo{
    background-image: url(/images/pagina-inicial-lua-responsivo.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
h1{
   font-size: 30px;
   padding-top: 200px;
}

#container-side-bar{
    justify-content: space-between;
    width: 80%;
}

#open-menu{
    padding-left: 30px;
}

.material-symbols-outlined.tm32{
    font-size: 45px;
}

#menu, #menu-universe{
    width: 100%;
    border-radius: 0px;
    }

#open-menu{
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
}

}