@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

::-webkit-scrollbar {
    display: flex;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #000000;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e7e7e7;
  }

.lexend-zetta-a {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#fundo {
    position: fixed;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

#container-side-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 15vh;
    margin-left: 5%;
    gap: 45%;
}

#menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: -460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    gap: 20px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
    opacity: 80%;
}

#open-menu {
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#close-menu {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 2px;
}

#close-menu:hover {
    background-color: #000000;
}

#close {
    color: #000000;
}

#close:hover {
    color: #ffffff;
}

#menu .link-menu {
    color: #000000;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 60px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#menu .link-menu:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

#menu-universe {
    background-color: #2012b668;
    position: fixed;
    top: 0;
    left: -460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    padding-top: 10px;
    gap: 10px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
}


#menu-universe #close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: #ffffff;
}

#menu-universe #close-menu:hover {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: #000000;
    border: 2px solid #000000;
}

#menu-universe .link-menu {
    color: #fffdfde2;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 60px;
    padding: 20px 10px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#menu-universe .link-menu:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.material-symbols-outlined.tm32 {
    font-size: 45px;
}

.material-symbols-outlined.openMenu {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    color: #ffffff;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    color: #FFFCFC;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80vh;
}
#principal {
    display: flex;
    justify-content: center;
    width: 60%;
}

#fotos {
    margin-top: 50px;
    position: relative;
}


#terra {
    position: absolute;
    top: 80px;
    left: 80px;
    z-index: 1;
    width: 280px; /*testar tamanho para se adequar a tela*/
    height: 330px; /*testar tamanho para se adequar a tela*/
    border-radius: 36px;
}

#terrablur {
    position: relative;
    width: 300px; /*testar tamanho para se adequar a tela*/
    height: 260px; /*testar tamanho para se adequar a tela*/
    z-index: 0;
}

#texto {
    margin-left: 5vw;
    margin-top: 5vh;
    text-align: left;
}

h1 {
    font-family: "lexend zetta";
    color: white;
    font-size: xx-large;
}

p {
    position: relative;
    font-family: "Inter";
    color: white;
    margin-top: 20px;
    line-height: 28px;
    font-size: large;
    z-index: 2;
}

#social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-media>p{
    font-family: "Lexend Zetta";
    text-align: center;
}

.social-media-container img {
    margin: 0px 5px;
}

@media only screen and (min-width:100px) and (max-width: 480px) {

    body{
        height: 245vh;
    }
    #fundo {
        width: 100%;
        height: 100vh;
    }

    #texto {
        margin-left: 50px;
        margin-top: 40px;
        text-align: left;
    }

    #principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

    }

    #fotos {
        margin-top: 30px;
        margin-left: 10vw;
        margin-right: 10vw;
        justify-content: center;
    }

    #terra {
        top: 60px;
        width: 220px; /*testar tamanho para se adequar a tela*/
        height: 220px; /*testar tamanho para se adequar a tela*/
    }
    
    #terrablur {
        width: 250px; /*testar tamanho para se adequar a tela*/
        height: 220px; /*testar tamanho para se adequar a tela*/
    }

    #texto{
        margin-left: 10vw;
        margin-top: 10vh;
        margin-right: 10vw;
        text-align: left;
    }


    #container-side-bar{
        justify-content: space-between;
        width: 80%;
    }

    #open-menu{
        padding-left: 30px;
    }
    
    .material-symbols-outlined.tm32{
        font-size: 45px;
    }

    #menu, #menu-universe{
        width: 100%;
        border-radius: 0px;
        z-index: 2;
        }

    #open-menu{
        position: fixed;
        background: none;
        border: none;
        cursor: pointer;
    }
   }

   @media screen and (min-width: 500px) and (max-width: 980px) {
    
    #menu {
        position: absolute;
        top: 0;
        left: -460px;
        height: 96.2%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
        padding-top: 15px;
        gap: 10px;
        border-radius: 0 15px 15px 0;
    }

    #menu-universe{
        position: absolute;
        top: 0;
        left: -460px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        padding-top: 0;
        gap: 5px;
        border-radius: 0 15px 15px 0;
    }

    #menu .link-menu{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 80%;
        height: 30px;
        padding: 5px 5px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.9rem;
        text-align: center;
    }

    #menu-universe .link-menu{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 80%;
        height: 30px;
        padding: 5px 5px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.9rem;
        text-align: center;
    }

   }