@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

.lexend-zetta-a {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#background-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(/images/pagina-inicial-rodape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
}

#container-side-bar{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 70%;
    height: 10vh;
    margin-left: 5%;
    gap: 45%;
}

#menu {
    position: fixed;
    background-color: #e9e9e9;
    top: 0;
    left: -460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    gap: 20px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
    opacity: 94%;
}

#open-menu{
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  
  #close-menu {
      display: flex;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-weight: bold;
      border: none;
      border-radius: 50%;
      background-color: #ffffff;
      padding: 2px;
  }
  
  #close-menu:hover{
      background-color: #000000;
  }
  
  #close{
      color: #000000;
  }
  
  #close:hover{
      color: #ffffff;
  }
#menu .link-menu {
    color: #000000;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 60px;
    padding: 20px 10px;
    box-sizing: border-box;
    background-color: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#menu .link-menu:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}

#menu-universe {
    background-color: #2012b668;
    position: fixed;
    top: 0;
    left: -460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    padding-top: 10px;
    gap: 10px;
    border-radius: 0 15px 15px 0;
    z-index: 2;
}


#menu-universe #close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: #ffffff;
}

#menu-universe #close-menu:hover {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: #000000;
    border: 2px solid #000000;
}

#menu-universe .link-menu {
    color: #fffdfde2;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 60px;
    padding: 20px 10px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

#menu-universe .link-menu:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.material-symbols-outlined.tm32{
    font-size: 45px;
}

.material-symbols-outlined.openMenu {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #ffffff;
  }

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    color: #FFFCFC;
  }


section {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0 10vw;
    margin: auto;
    width: 80vw;
    margin-top: 10px;
}


#container-texto {
    position: relative;
    text-align: center;
    font-family: "Lexend Zetta", sans-serif;
    font-weight: bold;
    font-size: 2vw;
}

.container-olimpiadas {
    object-fit: cover;
    position: relative;
    text-align: right;
    height: auto;
    margin: 0 20px;
    background-color: #a9a9a970;
    border-radius: 36px;
}

.container-olimpiadas img {
    max-width: 100%;
    height: auto;
    border-radius: 36px 36px 0px 0px;
}

.container-olimpiadas h1 {
    font-family: "Saira", sans-serif;
    width: 95%;
    font-size: 2vw;
    margin-top: 5px;
}

.button {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    color: #fff;
    border: 2px solid white;
    padding: 2px 5px 2px 28px;
    border-radius: 14px;
    text-decoration: none;
    font-size: 1.3vw;
}

.button:hover {
    box-shadow: 0 0 15px #868686, inset 0 0 15px #868686;
    text-shadow: 0 0 15px ease-in-out;
}

@media only screen and (min-width: 100px) and (max-width: 450px){

    #container-side-bar{
        justify-content: space-between;
        width: 90%;
      }

  #menu-universe{
      height: 100vh;
      padding-top: 0;
  }

  #menu, #menu-universe{
      width: 100%;
      border-radius: 0px;
      }
    
    section{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    #container-texto{
        font-size: 4vw;
    }
    .container-olimpiadas{
        margin-top: 10px;
    }
    .container-olimpiadas h1{        
        font-size: 4vw;
    }
    .button{
        font-size: 2.4vw;
        margin: 15px;
        
    }

}

@media only screen and (min-width:500px) and (max-width: 980px) {
    
    #menu {
          position: absolute;
          top: 0;
          left: -460px;
          height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 40%;
        padding-top: 15px;
        gap: 10px;
        border-radius: 0 15px 15px 0;
    }
  
    #menu-universe{
        position: absolute;
        top: 0;
        left: -460px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        padding-top: 0;
        gap: 5px;
        border-radius: 0 15px 15px 0;
    }
  
    #menu .link-menu{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 80%;
        height: 30px;
        padding: 5px 5px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.9rem;
        text-align: center;
    }
  
    #menu-universe .link-menu{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 80%;
        height: 30px;
        padding: 5px 5px;
        box-sizing: border-box;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.9rem;
        text-align: center;
    }
  
    #container-side-bar{
        gap: 0px;
    }
}