footer {
    width: 100%;
    height: auto;
    background-color: transparent;
    color: #DDD;
    font-family: "Lexend Zetta", Arial, Helvetica, sans-serif;
}

.logo-container {
    width: 100%;
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.logo-container>img {
    width: inherit;
    max-width: 50%;
}

.inferior-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.inferior-container>section {
    width: 50%;
    min-width: 100px;
    max-width: 200px;
    margin: 100px;
    text-align: center;
}

.inferior-container a {
    text-decoration: none;
    color: white;
    line-height: 3em;
}

.inferior-container a:hover {
    text-decoration: underline;
}

.rights {
    bottom: 20px;
    position: relative;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .inferior-container {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .inferior-container>section {
        max-width: unset;
        min-width: 85%;
        margin: 50px 0px;
    }
}